body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    text-align: center;
}

.text-container p {
    font-size: 24px;
    margin: 0;
}

.text-container h1 {
    font-size: 48px;
    color: #6a8edb;
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    padding: 1em 0;
    text-align: center;
}

nav button {
    background-color: #444;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

nav button:hover {
    background-color: #555;
}

.container, .about-section, .contact-container, .projects-section {
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    flex: 1;
    text-align: center;
}

.text-container p {
    font-size: 24px;
    margin: 0;
}

.text-container h1 {
    font-size: 48px;
    color: #6a8edb;
    margin: 0;
}

.about-section, .contact-container, .projects-section {
    background-color: #7a7a7a; /* Grey background */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: left;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.about-section h1, .contact-container h1, .projects-section h1 {
    font-size: 2em;
    font-weight: bold;
    color:rgb(0, 0, 0); /* Black text for the heading */
}

.about-section p, .contact-container p, .projects-section p {
    font-size: 1.2em;
    line-height: 1.5;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-item {
    margin-bottom: 10px;
}

.contact-item h2 {
    color: #4a90e2;
    font-size: 1.5em;
    margin: 0;
}

.contact-item p {
    font-size: 1.2em;
    margin: 5px 0;
}

.contact-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.contact-icon img {
    width: 50px;
    height: 50px;
}
